@media (max-width: 900px) {
  .header .menu {
    display: block;
  }
  .header nav ul {
    display: none;
  }
  .header ul li {
    font-size: 14px;
    padding: 20px;
  }
  .header input:checked ~ ul {
    display: block;
    background-color: #fff;
    width: 250px;
    height: 235px;
    text-align: center;
    align-items: center;
  }
  .header input:checked ~ ul li a {
    color: var(--Dark-grayish-blue);
  }

  .header input:checked ~ ul li a:hover {
    color: var(--black);
    text-transform: uppercase;
    background-color: var(--Yellow);
    border-radius: 40px;
  }
}
@media (max-width: 425px) {
  .header {
    background: url("/Images/Mobile/image-header.jpg") center center no-repeat;
    background-size: cover;
    height: 50vh;
  }
  .header h1 {
    font-size: 18px;
    left: 50px;
    top: 150px;
  }
  .header .seta {
    left: 170px;
    top: 230px;
  }

  .about {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }
  .about .image.right {
    background: url("../Images/Mobile/image-transform.jpg") center center
      no-repeat;
    background-size: cover;
    height: 100vh;
  }
  .about .image.left {
    background: url("../Images/Mobile/image-stand-out.jpg") center center
      no-repeat;
    background-size: cover;
    height: 100vh;
  }
}
