body {
  display: grid;
  grid-template-areas:
    "header header header header"
    "hero hero hero hero"
    "about about about about"
    "services services services services"
    "clients clients clients clients"
    "projects projects projects projects"
    "contact contact contact contact";

  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(7, 1fr); */
  font-size: 18px;
  font-family: "Fraunces", serif;
  height: 100vh;
  justify-content: center;
}

.header {
  grid-area: header;
  display: grid;
  background-color: var(--Soft-Blue);
  height: 15vh;
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.header .logo {
  height: 30px;
  width: 130px;
}
.hero {
  grid-area: hero;
  background: url("../Images/Desktop/image-header.jpg") center center no-repeat;
  background-size: cover;
  height: 80vh;
}
.hero .slogan {
  color: var(--White);
  font-size: 40px;
  letter-spacing: 12px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.hero .seta {
  width: 25px;
  display: flex;
  margin: 80px auto;
}

.about {
  grid-area: about;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about .image {
  height: 100%;
  width: 100%;
}
.about .image.right {
  background: url("../Images/Desktop/image-transform.jpg") center no-repeat;
  background-size: cover;
}
.about .image.left {
  background: url("../Images/Desktop/image-stand-out.jpg") center center
    no-repeat;
  background-size: cover;
}
.about .item {
  padding: 20%;
}

.about .item h2 {
  margin-bottom: 30px;
}

.about .item p {
  font-size: 13px;
  font-family: "Barlow", sans-serif;
  color: var(--Dark-grayish-blue);
  margin-bottom: 30px;
  line-height: 20px;
}

.about .item .btn-learn-more {
  font-size: 12px;
}
.about .item .btn-learn-more.yellow:hover {
  text-decoration: underline 5px var(--Yellow);
}
.about .item .btn-learn-more.pink:hover {
  text-decoration: underline 5px var(--Soft-red);
}

.services {
  grid-area: services;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.services .design {
  background: url("../Images/Desktop/image-graphic-design.jpg") center center
    no-repeat;
  background-size: cover;
  height: 550px;
}
.services .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20%;
  margin-top: 250px;
}

.services .description p {
  font-family: "Barlow", sans-serif;
  font-size: 13px;
  max-width: 350px;
  margin-top: 20px;
  text-align: center;
}

.services .photography {
  background: url("../Images/Desktop/image-photography.jpg") center center
    no-repeat;
  background-size: cover;
  height: 550px;
}
.services .design {
  color: var(--Dark-desaturated-cyan);
}

.services .photography {
  color: var(--Dark-blue);
}
.clients {
  grid-area: clients;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 100px 70px 0;
  gap: 40px;
  height: 300px;
}
.clients img {
  border-radius: 50%;
  width: 60px;
  margin-bottom: 50px;
}
.clients p {
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 50px;
  font-family: "Barlow", sans-serif;
  color: var(--Very-dark-rayish-blue);
}
.clients span {
  color: var(--Very-dark-desaturated-blue);
}
.clients .position {
  margin-top: 10px;
  color: var(--Grayish-blue);
}
.projects {
  grid-area: projects;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 50px;
}
.projects img {
  height: 100%;
  width: 100%;
  background-size: cover;
  transition: 0.4s ease-in-out;
}
.projects a:hover img {
  opacity: 70%;
}

.contact {
  grid-area: contact;
  background-color: var(--Dark-moderate-cyan);
  height: 300px;
  text-align: center;
}

.logo-footer {
  margin-top: 60px;
  height: 30px;
  width: 130px;
}

.contact .menu-footer ul {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  gap: 40px;
  font-family: "Barlow", sans-serif;
  justify-content: center;
}
.contact .menu-footer ul a {
  color: var(--Dark-desaturated-cyan);
}
.contact .menu-footer ul a:hover {
  color: var(--White);
}
.contact .social {
  margin-top: 60px;
}
.contact .social a {
  margin: 15px;
}
.contact .social a img:hover {
  filter: brightness(100);
}
